<template name="about">
    <h1 class="about">About Job Jars</h1>
    <div id="about-div">
        <p class="about">
        Job Jars started as a fun way to get my kids to do their chores. I
        got tired of the nagging, the excuses, the "just a minutes" I'd hear,
        and I thought there must be a better way. That's when Job Jars was born.
        </p>
        <p class="about">
        I thought if I could make it fun for kids to do their chores and allow
        parents to reward their kids for the chores in whatever way they wanted
        it would reduce the stress associated with chores for both parents
        and kids.
        </p>
    </div>
</template>
