<template name="homePage">
    <div class="container-fluid">
        <div class="jumbotron">
            <h1>The Easy, Effective Way to Get Household Chores Done!</h1>
            <p>No more fussing, no more arguing, no more nagging!</p>
            <button class="btn btn-lg btn-primary " id='registerBtnHomePage'>Sign Up Now</button>
        </div>
    </div>
    <div class="container">
        <div class="row-fluid">
            <div class="col-md-4 col-sm-4 col-xs-6">
                <h1>Reason Number 1</h1>
                <p class="block">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie lacus non magna varius sollicitudin. Cras efficitur hendrerit viverra. Curabitur id facilisis quam. Aliquam et malesuada lorem, et convallis magna. Fusce enim nisl, vehicula sit amet cursus eget, cursus et nunc. Duis tincidunt consequat purus elementum efficitur. Vestibulum at laoreet eros. Etiam eu blandit purus.</p>

            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <h1>Reason number 2</h1>
                <p class="block">Etiam placerat lacinia pulvinar. Pellentesque a est eget erat fermentum cursus. Nunc lobortis erat in mauris mollis porttitor. Proin sit amet egestas urna. Etiam convallis sed risus eu egestas. Proin feugiat risus non justo dictum consequat. Nam rhoncus tincidunt sapien, vitae finibus enim ornare in. Fusce quis est sed ex ultricies volutpat vel a purus. Maecenas elementum tellus quis urna maximus, et lobortis quam rutrum. Aenean scelerisque efficitur quam nec aliquam. Praesent mattis mauris hendrerit, blandit metus varius, imperdiet felis.</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 ">
                <h1>Reason number 3</h1>
                <p class="block">In dictum ullamcorper elementum. Nam ante risus, eleifend sit amet neque eu, gravida condimentum diam. Pellentesque mollis ligula eu accumsan lacinia. Praesent arcu dui, aliquam non rutrum at, sodales in nibh. Proin at aliquet felis. Nulla tincidunt, purus nec molestie vestibulum, augue leo interdum mauris, nec tempor erat lorem ut sem. Duis pretium turpis a dolor posuere scelerisque. Nulla imperdiet arcu eget dui ullamcorper dapibus. Aliquam porta tellus arcu, non placerat nunc bibendum nec. Vivamus viverra laoreet aliquet. Sed quam leo, euismod eu nibh in, bibendum euismod orci. Vivamus pharetra bibendum justo. Donec fermentum magna ut felis placerat vehicula. Curabitur in leo cursus, cursus lorem sit amet, bibendum augue. Phasellus vel est vel ex dignissim pulvinar vel sed sapien. In a ultrices purus.</p>
            </div>
        </div>
    </div>
</template>

