<template name="register">
    <h1>Sign Up</h1>
    <form>
        <input type="text" name="name" id="newUserFirstName" class='registrationForm' placeholder="First Name" />
        <input type="text" name="email" id="newUserEmail" class='registrationForm' placeholder="Email Address" />
        <input type="text" name="username" id="newUsername" class="registrationForm" placeholder="Username" />
        <input type="password" name="password" id="newUserPassword" class="registrationForm" placeholder="Password" />
        <input type="password" name="password2" id="newUserConfirmPassword" class="registrationForm" placeholder="Confirm password" />
        <button id="registerFormBtn" class="registrationForm" name="Sign Up" >Sign Up</button>
    </form>
</template>



